<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:text="#{app.title}">BMDB</title>
  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
          integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
          crossorigin="anonymous"></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <link href="../css/sportsbetting.css" rel="stylesheet" type="text/css">
</head>
<body>

<div th:replace="navBar"></div>

<!-- REVIEWS -->
<div class="card border-primary mb-3 mt-3 ml-3 mr-3" id="reviewCard">
  <div class="card-header text-white bg-primary">Media list</div>
  <div class="card-body">
    <form action="#" th:action="@{/}" th:object="${medias}" method="get">
      <table class="table" id="medias">
        <thead>
        <tr>
          <th scope="col">Title</th>
          <th scope="col">Description</th>
          <th scope="col">Premier</th>
          <th scope="col" width="100">Cast</th>
          <th scope="col" width="100">Review</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="media : ${medias}">
          <th scope="col" th:text="${media.title}">#</th>
          <th scope="col" th:text="${media.description}">Review text</th>
          <th scope="col" th:text="${media.premier}">Creator</th>
          <th scope="col" ><a th:href="@{media/__${media.id}__}" class="btn btn-primary">Cast</a></th>
          <th scope="col"><a th:href="@{review/__${media.id}__}" class="btn btn-primary">Reviews</a></th>
        </tr>
        </tbody>
      </table>
    </form>
  </div>
</div>
</body>
</html>
