<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>BMDB</title>
</head>
<body>
<div th:replace="navBar"></div>

<div class="card border-secondary mb-3 mt-3 ml-3 mr-3" id="reviewCard">
  <div class="card-header bg-secondary text-white" th:text="#{reviewPage.reviews}"></div>
  <div class="card-body">
    <table>
      <thead>
        <tr>
          <th scope="col" th:text="#{reviewPage.user}">User</th>
          <th scope="col" th:text="#{reviewPage.review}">Review</th>
          <th scope="col" th:text="#{reviewPage.rating}">Rating</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="review : ${media.reviews}">
          <th scope="col" th:text="${review.creator.name}"></th>
          <th scope="col" th:text="${review.text}"></th>
          <th scope="col" th:text="${review.rating}"></th>
        </tr>
      </tbody>
    </table>
  </div>
</div>


<div class="card border-secondary mb-3 mt-3 ml-3 mr-3" id="accountCard">
  <div class="card-header bg-secondary text-white" th:text="${media.title}"></div>
  <div class="card-body">
    <form action="#" th:action="@{/saveReview}" th:object="${review}" method="post">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="textField" th:text="#{reviewPage.reviewText}">Review text</span>
        </div>
        <input type="text" th:field="*{text}" class="form-control"
               placeholder="Review text" aria-label="Text"
               aria-describedby="basic-addon1" id="text"/>
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="ratingField" th:text="#{reviewPage.rating}">Rating</span>
        </div>
        <select type="se" th:field="*{rating}" class="form-control" aria-label="Rating"
                aria-describedby="basic-addon1" id="rating">
          <option th:value="GOOD" th:text="GOOD"></option>
          <option th:value="AVERAGE" th:text="AVERAGE"></option>
          <option th:value="BAD" th:text="BAD"></option>
        </select>
      </div>
      <button class="btn btn-secondary" type="submit" id="saveReviewButton" th:text="#{reviewPage.save}">Save</button>
    </form>
  </div>
</div>
</body>
</html>
